body {
font-family:"Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
}

h1, h2, h3, h4, h5, h6 {font-weight:normal;color:#111;}
h1 {font-size:3em;line-height:1;margin-bottom:0.5em;}
h2 {font-size:2em;margin-bottom:0.75em;}
h3 {font-size:1.5em;line-height:1;margin-bottom:1em;}
h4 {font-size:1.2em;line-height:1.25;margin-bottom:1.25em;}
h5 {font-size:1em;font-weight:bold;margin-bottom:1.5em;}
h6 {font-size:1em;font-weight:bold;}

hr {background:#ddd;color:#ddd;clear:both;float:none;width:100%;height:.1em;border:none;}

p, form, button{border:0; margin:0; padding:0;}
.spacer{clear:both; height:1px;}

.alt {
  color: #666;
  font-family: "Warnock Pro", "Goudy Old Style","Palatino","Book Antiqua", Georgia, serif;
  font-style: italic;
  font-weight: normal;
}

#footer {
  text-align: center;	
}

a:focus, a:hover {color:#000;}
a {color:#009;
text-decoration:none;
cursor:pointer;
}

div.button a {
text-align:center;
padding:4px 20px; 
text-decoration:none;
background-color:black;
color: white;
border-top:solid 1px green;
border-left:solid 1px green;
border-bottom:solid 1px black;
border-right:solid 1px gray;
}

div.button a:hover {
background-color:lightgoldenrodyellow;
color: black;
}

.errors {
color: red;
}

.deleteIcon{
position:relative;
top:3px;
}
