.basic_form {
border:solid 2px green;

margin:0 auto;
width:940px;
padding:14px;
}
.basic_non_trade_form {
border:solid 2px green;

margin:0 auto;
width:1200px;
padding:14px;
}
.basic_non_trade_form h1{
font-size:18px;
font-weight:bold;
margin-bottom:8px;
color:green;
}
.basic_non_trade_form p{
font-size:11px;
color:#666666;
margin-bottom:20px;
border-bottom:solid 1px green;
padding-bottom:10px;
}
.basic_non_trade_form button{
cursor:hand;
clear:both;
margin-top:5px;
width:150px;
height:30px;
background: no-repeat #323232;

text-align:center;
color:#FFFFFF;
font-size:13px;
font-weight:bold;
border: 3px outset #ABABAB ;
}
.mainContainer{
    text-align:center;
}

.contextContainer{
    text-align:left;
}

input{
    zoom: expression(function(ele){(ele.className)?ele.className+=" "+ele.type:ele.className=ele.type; ele.style.zoom = "1";}(this));
}

input.text{
    width:100%;
}

.basic_form h1{
font-size:18px;
font-weight:bold;
margin-bottom:8px;
color:green;
}
.basic_form p{
font-size:11px;
color:#666666;
margin-bottom:20px;
border-bottom:solid 1px green;
padding-bottom:10px;
}


.basic_form_table {
border-top:solid 2px black;
margin:0 20px;
width:860px;
padding:5;
font-size:12px;
font-family:"Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
color:#666666;
border-collapse:collapse;
}

.basic_form_table td {
margin:0;
padding:2px;
font-size:12px;
border-bottom: dashed 1px silver;
}

.basic_form_table th {
text-align:right;
border-bottom: dashed 1px silver;
width:180px;
}

.basic_form_table input[type=text] {
border:solid 1px #aacfe4;
width:100%;
}

.basic_form_table input[type=password] {
border:solid 1px #aacfe4;
width:100%;
}

.basic_form_table textarea {
border:solid 1px #aacfe4;
font-size:14px;
width:100%;
}

.input_error {
background-color:khaki;
border:solid 1px #aacfe4;
}
.checkbox_error {
background-color:khaki;
border:solid 1px #aacfe4;
}
.basic_form_table select {
width:100%;
}


.basic_form_table input[type=radio] {
font-size:12px;
}

.basic_form button{
cursor:hand;
clear:both;
margin-top:5px;
width:150px;
height:30px;
background: no-repeat #323232;

text-align:center;
color:#FFFFFF;
font-size:13px;
font-weight:bold;
border: 3px outset #ABABAB ;
}

.index {
color: black;
font-size: 16px;
font-family: "Warnock Pro", "Goudy Old Style","Palatino","Book Antiqua", Georgia, serif;
font-style: italic;
font-weight: normal;
padding-left: 20px;
padding-top: 5px;
}



.basic_non_trade_form_table {
border-top:solid 2px black;
margin:0 20px;
width:1157px;
padding:5;
font-size:12px;
font-family:"Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
color:#666666;
border-collapse:collapse;
}

.basic_non_trade_form_table td {
margin:0;
padding:2px;
font-size:12px;
border-bottom: dashed 1px silver;
}

.basic_non_trade_form_table th {
text-align:right;
border-bottom: dashed 1px silver;
width:300px;
}

.basic_non_trade_form_table input[type=text] {
border:solid 1px #aacfe4;
width:100%;
}

.basic_non_trade_form_table input[type=password] {
border:solid 1px #aacfe4;
width:100%;
}

.basic_non_trade_form_table textarea {
border:solid 1px #aacfe4;
font-size:14px;
width:100%;
}
.basic_non_trade_form_table select {
width:100%;
}

.basic_non_trade_form_table input[type=radio] {
font-size:12px;
}

.workflowWord{
font-size:1.3em;color:green;
}

.workflowWord th{
text-align: center;
vertical-align: middle;
border-bottom-width: 0px;
width: auto;
}