div.menu a {
text-align:center;
padding:4px 20px; 
text-decoration:none;
background-color:green;
color: white;
border-top:solid 1px green;
border-left:solid 1px green;
border-right:solid 1px gray;
}
div.menu a:hover {
background-color:lightgoldenrodyellow;
color: #666666;
}
div.menu a.selected {
background-color:green;
color: white;
}


