#signin{
border:solid 2px green;
background:lightgoldenrodyellow;
margin:0 auto;
width:400px;
padding:14px;
}
#signin h1{
font-size:18px;
font-weight:bold;
margin-bottom:8px;
}
#signin p{
font-size:11px;
color:#666666;
margin-bottom:20px;
border-bottom:solid 1px green;
padding-bottom:10px;
}
#signin label{
display:block;
font-weight:bold;
text-align:right;
font-size:13px;
width:100px;
float:left;
}
#signin .small{
color:#666666;
display:block;
font-size:11px;
font-weight:normal;
text-align:right;
width:140px;
}
#signin input{
float:left;
padding:4px 2px;
border:solid 1px #aacfe4;
width:200px;
margin:2px 0 20px 10px;
}
#signin button{

clear:both;
margin-left:15px;
width:150px;
height:30px;
background: no-repeat #323232;
text-align:center;
color:#FFFFFF;
font-size:13px;
font-weight:bold;
cursor:hand;
border: 3px outset #FFFACD ;
text-decoration: none ;

}
