.default_table {
border-top:solid 2px black;
border-left:solid 2px black;
border-right:solid 2px black;
border-bottom:solid 2px black;
margin:0 20px;
width:860px;
padding:0;
font-size:12px;
font-family:"Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
color:#666666;
border-collapse:collapse;
}

.default_table td {
margin:0;
padding:5px;
font-size:12px;
border-right: dashed 1px silver;
border-bottom: dashed 1px silver;
word-break:break-all;
}

.default_table th {
margin:0;
padding:5px;
text-align:center;
border-bottom: solid 1px black;
color:white;
font-size:12px;
background-color:green;
white-space:nowrap;
}

.default_non_trade_table {
border-top:solid 2px black;
border-left:solid 2px black;
border-right:solid 2px black;
border-bottom:solid 2px black;
margin:0 20px;
width:1157px;
padding:0;
font-size:12px;
font-family:"Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
color:#666666;
border-collapse:collapse;
}

.default_non_trade_table td {
margin:0;
padding:5px;
font-size:12px;
border-right: dashed 1px silver;
border-bottom: dashed 1px silver;
word-break:break-all;
}

.default_non_trade_table th {
margin:0;
padding:5px;
text-align:center;
border-bottom: solid 1px black;
color:white;
font-size:12px;
background-color:green;
white-space:nowrap;
}
